<!-- Start Validation -->

        <div class="container-fluid bg reset">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- Form Start -->
                        <form class="form-container" action="/adminResets" method="post">
                            <div class="form-group">
                                <label for="upload" class="upload" >User name</label>
                                <input type="text" class="form-control" name="username"
                                value="{{selcted_user_username}}" readonly>
                            </div>
                            <div class="form-group">
                                <label for="upload" class="upload">New Password</label>
                                <input type="password" class="form-control" required name="password">
                            </div>
                            <div class="form-group">
                                <label for="upload" class="upload">Confirm Password </label>
                                <input type="password" class="form-control" required name="confirmpassword">
                            </div>

                            <button type="submit" class="btn btn-success btn-block">Save</button>
                        </form>
                    <!-- Form End -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>
<!-- End Validation -->